{{ departmentForm.getRawValue() | json }}
<div [formGroup]="departmentForm">
  <div class="ui-g">
    <div class="ui-g-4" style="text-align: right;">Deparment:</div>
    <div class="ui-g-4">
      <input formControlName="departmentName" type="text" pInputText />
      <span
        *ngIf="
          departmentForm.get('departmentName').hasError('required') &&
          departmentForm.get('departmentName').touched
        "
      >
        <p-message severity="error" text="department is require"> </p-message>
      </span>
      <span *ngIf="departmentForm.get('departmentName').hasError('pattern')">
        <p-message severity="error" text="กรุณาใส่ข้อความภาษาอังกฤษ">
        </p-message>
      </span>
    </div>
    <div class="ui-g-4"></div>
  </div>

  <div class="ui-g" *ngFor="let control of telephoneFormArray.controls;let i=index">
    <div class="ui-g-4" style="text-align: right;">Telephone: {{i+1}}</div>
    <div class="ui-g-4">
      <input [formControl]="control" type="text" pInputText />
      <span *ngIf="departmentForm.get('telephone').hasError('pattern')">
        <p-message severity="error" text="ผิดนะจ๊ะ"> </p-message>
      </span>
      
      <button
        type="button"
        icon="pi pi-plus"
        style="margin-left: 4px"
        (click)="addTelephone()"
        class="ui-button-raised ui-button-rounded"
        *ngIf="i===0"
        pButton
      ></button>
      <button
      type="button"
      icon="pi pi-minus"
      style="margin-left: 4px"
      (click)="de(i)"
      class="ui-button-raised ui-button-warning"
      *ngIf="i!==0"
      pButton>
    </button>
    </div>
  </div>


 

  <div class="ui-g">
    <div class="ui-g-4" style="text-align: right;">Provine:</div>
    <div class="ui-g-4">
      <p-dropdown formControlName="province" [options]="cities1"></p-dropdown>
    </div>
    <div class="ui-g-4"></div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4" style="text-align: right;">Budget:</div>
    <div class="ui-g-2">
      <input formControlName="budget" type="text" pInputText />
      <span *ngIf="departmentForm.get('budget').hasError('pattern')">
        <p-message severity="error" text="ผิดแล้วจ้า"> </p-message>
      </span>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4" style="text-align: right;">Status:</div>
    <div class="ui-g-3">
      <p-radioButton
        formControlName="status"
        #R1
        name="groupname"
        value="Y"
        label="Active"
        (click)="Active(R1.value, R3)"
      >
      </p-radioButton>
      <p-radioButton
        formControlName="status"
        #R2
        name="groupname"
        value="N"
        label="Deactive"
        (click)="Active(R2.value, R3)"
      ></p-radioButton>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4" style="text-align: right;">Remark:</div>
    <div class="ui-g-4">
      <input formControlName="remark" type="text" pInputText #R3 />
      <span *ngIf="departmentForm.get('remark').hasError('maxlength')">
        <p-message severity="error" text="ผิดนะจ๊ะ"> </p-message>
      </span>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4" style="text-align: right;"></div>
    <div class="ui-g-1">
      <button
        pButton
        type="button"
        label="Save"
        (click)="Save()"
        class="ui-button-success"
        style="background-color:rgb(240, 12, 12)"
      ></button>
    </div>
    <div class="ui-g-4">
      <button
        pButton
        type="button"
        label="Cancel"
        (click)="Cancel()"
        class="ui-button-warning"
        style="background-color:rgb(12, 240, 210)"
      ></button>
    </div>
  </div>
</div>

